<ion-header>
</ion-header>

<ion-content>
  <!-- To Demonstrate Google authentication and Drive & Sheets REST APIs integration in Ionic app.

  <button ion-button block (click)="signInWithGoogle()">Google Sign In</button> -->
  <ion-toolbar *ngIf="loadFiles">
    <ion-buttons start>
      <div class="app-title">Expense Sheets</div>
    </ion-buttons>
    <ion-buttons end>
      Welcome{{title}}
    </ion-buttons>
  </ion-toolbar>

  <ion-grid *ngIf="loadFiles">
    <ion-row>
      <ion-col *ngFor="let item of files">
        <ion-card (click)="fileSelected(item)">
            <ion-card-header>
              {{ item.name }}
            </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="light">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
